.container {
	width: 350px;
	height: 550px;
	border: solid 1px #e1e1e1;
	box-shadow: 5px 5px 2px #888888;
}

.container h3 {
	margin-left: 24px;
}

.img-box {
	border: solid 1px #e1e1e1;
	margin: 0px 24px 0px 24px;
}

.content {
	width: 300px;
	border: solid 1px #e1e1e1;
	margin: 0px 24px;
}

.overview {
	font-style: italic;
}

.content ul {
	list-style: none;
	margin-left: -20px;
}

.content span {
	font-weight: bold;
}